################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Silhouette1/bin/x86/Debug
/Silhouette1/obj/x86/Debug
/Silhouette1Content/obj/x86/Debug
